ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

ul.nav li a {
    display: block;
    color: #292929;
    font-weight: bold;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

li a.active {
  background-color: #FFA69E;
  color: white;
}

li a:hover:not(.active) {
  background-color: #FFA0AC;
}

a:hover {
  font-size: 1.1em;
}