body {
    font-family: cursive;
    color: #292929;
}

header, footer {
    padding: 1em;
    color: #F3EEC3;
    background-color: #AA4465;
    text-align: center;
}
footer a {
    color: #F3EEC3;
}

.header_back_img {
    float: left;
    height: 2em;
    width: 2em;
    margin: 1.5em;
}

div.table {
    display: table;
    width: 100%;
}

div.table_row {
    display: table-row;
    width: 100%;
}

div.nav_column {
    display: table-cell;
    width: 20%;
    background-color: #B0D0D3;
}

div.main_column {
    display: table-cell;
    width: 80%;
    padding: 0px 1em;
    background-color: #D1E8EA;
}

article {
    padding-left: 15%;
    background-repeat: no-repeat;
    background-position: left center;
}

.world_flag {
    background-image: url("../img/mundo.png");
    background-size: 11%;
}

.mexican_flag {
    background-image: url("../img/mexico.png");
    background-size: 11%;
}

.england_flag {
    background-image: url("../img/inglaterra.jpg");
    background-size: 11%;
}

.french_flag {
    background-image: url("../img/francia.jpg");
    background-size: 11%;
}

.japanese_flag {
    background-image: url("../img/japon.jpg");
    background-size: 11%;
}

.american_flag {
    background-image: url("../img/usa.jpg");
    background-size: 11%;
}